footer
  .container.text-center
    p(align='center') © 2018 Chancoin. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Chancoin-core/CHANCOIN', target='_blank') GitHub Project
      li
        a(href='https://chancoin.org', target='_blank') chancoin.org
